.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
}

h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
}

.titulo {
    margin-left: 8px;
}

.botao_enviar {
    background-color: #1351d8;
    color: white;
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.botao_enviar:hover {
    color: #ccc;
    transform: scale(1.05);
    transition: 0.2s;
}

.botao_enviar:focus {
    outline: 2px solid #1b357e;
}

.inputcont {
    width: 92%;
    height: 50px;
    padding: 8px;
    margin-bottom: 15px;
    resize: none;
}

.inputcont:focus {
    outline: 2px solid #1351d8;
}